<div class="view">
    <button #clipboard class="hide" data-clipboard-text="">copy</button>
    <ng-container *ngIf="ready;then readyView;else loadView"></ng-container>
</div>

<ng-template #readyView>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{data.name}} -> {{data.id}}</mat-card-title>
            <mat-card-subtitle *ngIf="data.description?.length">{{data.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{version.platform}}</p>
            <p>{{version.version}}</p>
            <p>start at {{startAt.at.format('YYYY-MM-DD HH:mm:ss')}}, started {{startAt.started}}.</p>
            <p *ngIf="upgraded">new version "{{upgraded}}" is ready, wait until the server restarts to take effect.</p>
            <p *ngIf="url">
                {{url}}
                <button mat-icon-button i18n-matTooltip matTooltip="copy port forward url"
                    (click)="onCliCkCopyClipboard()">
                    <mat-icon>vpn_lock</mat-icon>
                </button>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-stroked-button [routerLink]="['/forward/fs']" [queryParams]="{id:data.id}" i18n>Filesystem</a>
            <a mat-stroked-button [routerLink]="['/forward/shared',data.id]" i18n>Shared</a>
            <a mat-stroked-button [routerLink]="['/forward/shell',data.id]">Shell</a>
            <!-- <a mat-stroked-button routerLink="/forward/vnc" [queryParams]="{id:data.id}">VNC</a> -->
            <a mat-stroked-button [href]="vncURL" target="_blank">VNC</a>
            <a mat-stroked-button [routerLink]="['/forward/logger/view',data.id]" i18n>Logger</a>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template #loadView>
    <ng-container *ngIf="hasErr;then errorView;else refreshView"></ng-container>
</ng-template>
<ng-template #refreshView>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p i18n>connecting to server, please wait...</p>
</ng-template>
<ng-template #errorView>
    <mat-card>
        <mat-card-header>
            <mat-card-title i18n>Error</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let err of errs; ">
                {{err.id}} -> {{err.err}}
            </div>
            <p *ngIf="url">
                {{url}}
                <button mat-icon-button i18n-matTooltip matTooltip="copy port forward url"
                    (click)="onCliCkCopyClipboard()">
                    <mat-icon>vpn_lock</mat-icon>
                </button>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-stroked-button [routerLink]="['/forward/fs']" [queryParams]="{id:data.id}" i18n>Filesystem</a>
            <a mat-stroked-button [routerLink]="['/forward/shared',data.id]" i18n>Shared</a>
            <a mat-stroked-button [routerLink]="['/forward/shell',data.id]">Shell</a>
            <!-- <a mat-stroked-button routerLink="/forward/vnc" [queryParams]="{id:data.id}">VNC</a> -->
            <a mat-stroked-button [href]="vncURL" target="_blank">VNC</a>
            <a mat-stroked-button [routerLink]="['/forward/logger/view',data.id]" i18n>Logger</a>
            <button mat-stroked-button i18n (click)="onClickRefresh()">Refresh</button>
        </mat-card-actions>
    </mat-card>
</ng-template>