<h1 mat-dialog-title i18n>password of {{data.name}}</h1>

<form #form="ngForm">
    <div mat-dialog-content class="dialog-content">
        <mat-form-field appearance="outline" class="fullwidth">
            <mat-label i18n>New Password</mat-label>
            <input matInput type="text" cdkFocusInitial [disabled]="disabled" required minlength="6" [(ngModel)]="val" name="val">
            <mat-error i18n>Password Invalid</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-stroked-button i18n [disabled]="disabled || form.invalid "
            (click)="onSubmit()">Submit</button>
        <button type="button" mat-stroked-button i18n [disabled]="disabled" (click)="onClose()">Close</button>
        <mat-spinner diameter='36' *ngIf="disabled"></mat-spinner>
    </div>
</form>