<mat-card>
    <mat-card-header>
        <mat-card-title>Require</mat-card-title>
        <mat-card-subtitle>example require net</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter your content</mat-label>
            <input matInput type="text" [(ngModel)]="content" [disabled]="disabled">
            <button mat-icon-button matSuffix matTooltip="content copy" [disabled]="disabled"
                (click)="onCliCkCopyClipboard()">
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button type="button" [disabled]="disabled" (click)="onClickRequireSingle()">require
            single</button>
        <button mat-stroked-button type="button" [disabled]="disabled" (click)="onClickRequireMultiple()">require
            multiple</button>
    </mat-card-actions>
</mat-card>

<button #clipboard class="hide" data-clipboard-text="">copy</button>