<ng-container [ngSwitch]="theme">
  <ng-template [ngSwitchCase]="'deeppurple-amber'">
    <link rel="stylesheet" href="/static/theme/color-deeppurple-amber.css">
    <link rel="stylesheet" href="/static/theme/deeppurple-amber.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'indigo-pink'">
    <link rel="stylesheet" href="/static/theme/color-indigo-pink.css">
    <link rel="stylesheet" href="/static/theme/indigo-pink.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'pink-bluegrey'">
    <link rel="stylesheet" href="/static/theme/color-pink-bluegrey.css">
    <link rel="stylesheet" href="/static/theme/pink-bluegrey.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'purple-green'">
    <link rel="stylesheet" href="/static/theme/color-purple-green.css">
    <link rel="stylesheet" href="/static/theme/purple-green.css">
  </ng-template>
</ng-container>

<header>
  <shared-navigation-bar></shared-navigation-bar>
</header>
<main [class]="fullscreen?'fullscreen':'main'">
  <router-outlet></router-outlet>
</main>
<footer>
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div #xi18n class="hide">
    <!-- moudle user -->
    <div data-key="password changed" i18n>password changed</div>
    <div data-key="user deleted" i18n>user deleted</div>
    <div data-key="user properties changed" i18n>user properties changed</div>
    <div data-key="add user successed" i18n>add user successed</div>
    <!-- moudle app -->
    <div data-key="add device successed" i18n>add device successed</div>
    <div data-key="device code changed" i18n>device code changed</div>
    <div data-key="device deleted" i18n>device deleted</div>
    <div data-key="device properties changed" i18n>device properties changed</div>
    <!-- moudle group -->
    <div data-key="group properties changed" i18n>group properties changed</div>
    <div data-key="add group successed" i18n>add group successed</div>
    <div data-key="group deleted" i18n>group deleted</div>
    <div data-key="group move changed" i18n>group move changed</div>
    <div data-key="change group successed" i18n>change group successed</div>
    <!-- moudle forward-fs -->
    <div data-key="Wait for data to be saved" i18n>Wait for data to be saved</div>
    <div data-key="Data saved" i18n>Data saved</div>
    <div data-key="Unsupported file type" i18n>Unsupported file type</div>
    <div data-key="New File" i18n>New File</div>
    <div data-key="New File Success" i18n>New File Success</div>
    <div data-key="New Folder" i18n>New Folder</div>
    <div data-key="New Folder Success" i18n>New Folder Success</div>
    <div data-key="File deleted" i18n>File deleted</div>
    <div data-key="Rename Success" i18n>Rename Success</div>
    <div data-key="Compress done" i18n>Compress done</div>
    <div data-key="Uncompress done" i18n>Uncompress done</div>
    <div data-key="File has been copied" i18n>File has been copied</div>
    <div data-key="File has been cut" i18n>File has been cut</div>
    <div data-key="Copy file done" i18n>Copy file done</div>
    <div data-key="Move file done" i18n>Move file done</div>
    <!-- moudle forward-shell -->
    <div data-key="terminal has been deleted" i18n>terminal has been deleted</div>
    <div data-key="change terminal completed" i18n>change terminal completed</div>
  </div>
</footer>