<ng-container [ngSwitch]="theme">
  <ng-template [ngSwitchCase]="'deeppurple-amber'">
    <link rel="stylesheet" href="/static/theme/color-deeppurple-amber.css">
    <link rel="stylesheet" href="/static/theme/deeppurple-amber.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'indigo-pink'">
    <link rel="stylesheet" href="/static/theme/color-indigo-pink.css">
    <link rel="stylesheet" href="/static/theme/indigo-pink.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'pink-bluegrey'">
    <link rel="stylesheet" href="/static/theme/color-pink-bluegrey.css">
    <link rel="stylesheet" href="/static/theme/pink-bluegrey.css">
  </ng-template>
  <ng-template [ngSwitchCase]="'purple-green'">
    <link rel="stylesheet" href="/static/theme/color-purple-green.css">
    <link rel="stylesheet" href="/static/theme/purple-green.css">
  </ng-template>
</ng-container>

<header>
  <shared-navigation-bar></shared-navigation-bar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div #xi18n class="hide">
    <!-- moudle user -->
    <div data-key="password changed" i18n>password changed</div>
    <div data-key="user deleted" i18n>user deleted</div>
    <div data-key="user properties changed" i18n>user properties changed</div>
    <div data-key="add user successed" i18n>add user successed</div>
    <!-- moudle app -->
    <div data-key="add device successed" i18n>add device successed</div>
    <div data-key="device code changed" i18n>device code changed</div>
  </div>
</footer>