<form (submit)="onSubmit()" #viewForm="ngForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Toaster</mat-card-title>
            <mat-card-subtitle>example toaster</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-checkbox [(ngModel)]="title" name="title">title</mat-checkbox>
                <mat-checkbox [(ngModel)]="async" name="async">async</mat-checkbox>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>toaster type</mat-label>
                    <select matNativeControl required [(ngModel)]="type" name="toasterType">
                        <option value="success">success</option>
                        <option value="info">info</option>
                        <option value="warning">warning</option>
                        <option value="wait">wait</option>
                        <option value="error">error</option>
                    </select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button>pop</button>
        </mat-card-actions>
    </mat-card>
</form>