<h1 mat-dialog-title>
    <ng-container i18n>New Folder</ng-container>
    <mat-icon *ngIf="disabled">
        <mat-spinner color="accent" diameter='32'></mat-spinner>
    </mat-icon>
</h1>

<form (submit)="onSubmit()" #viewForm="ngForm">

    <div mat-dialog-content>
        <div>
            <mat-form-field class="full-width">
                <mat-label i18n>Name</mat-label>
                <input matInput [disabled]="disabled" cdkFocusInitial required [(ngModel)]="name" name="name">
                <mat-error i18n>Name Invalid</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-stroked-button i18n [disabled]="disabled || viewForm.invalid ">Submit</button>
        <button type="button" mat-stroked-button i18n [disabled]="disabled" (click)="onClose()">Close</button>
    </div>
</form>