<div class="view">
    <ng-container *ngIf="ready;then readyView;else loadView"></ng-container>
</div>
<ng-template #loadView>
    <ng-container *ngIf="err;then errorView;else refreshView"></ng-container>
    <ng-template #refreshView>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p i18n>connecting to server, please wait...</p>
    </ng-template>
    <ng-template #errorView>
        <mat-card>
            <mat-card-header>
                <mat-card-title i18n>Error</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{err}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button i18n (click)="onClickRefresh()">Refresh</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</ng-template>

<ng-template #readyView>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <group-list-node [node]='node' (valChange)="onNodeChanged($event)"></group-list-node>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <group-list-node [node]='node' (valChange)="onNodeChanged($event)"></group-list-node>
        </mat-tree-node>
    </mat-tree>
</ng-template>