<div class="view">
    <ng-container *ngIf="state.ready;then readyView;else loadView"></ng-container>
</div>
<ng-template #loadView>
    <shared-load-view [hasErr]="state.hasErr" [errs]="state.errs" (valChange)="onClickRefresh()"></shared-load-view>
</ng-template>

<ng-template #readyView>
    <mat-card>
        <mat-card-content>
            <fs-navigation [target]="state.target" [root]="state.dir.root"></fs-navigation>
            <fs-manager [folder]="state.dir" [source]="state.source" (sourceChange)="state.source=$event"></fs-manager>
        </mat-card-content>
    </mat-card>
</ng-template>