<div>
    <fs-path class="fs-path" [path]="folder.dir" (pathChange)="onPathChange($event)"></fs-path>
    <a [routerLink]="'/forward/fs/movie'" [queryParams]="movieParams" mat-icon-button i18n-matTooltip
        matTooltip="Movie List">
        <mat-icon>theaters</mat-icon>
    </a>
</div>

<div class="view" #box (contextmenu)="onContextmenu($event)" (mousedown)="onStart($event)" (click)="onClick($event)">
    <div #fs>
        <fs-file [source]="node" [target]="folder.id" (menuChange)="onContextmenuNode($event)"
            (checkChange)="onCheckChange($event)" *ngFor="let node of source"></fs-file>
    </div>
    <div [style.left]="x+'px'" [style.top]="y+'px'" [style.width]="w+'px'" [style.height]="h+'px'" class="rectangle">
    </div>
</div>
<mat-menu #actionMenu="matMenu">
    <ng-container *ngIf="target.length==0;then blankView;else countView"></ng-container>
    <ng-template #blankView>
        <button mat-menu-item [disabled]="isNotCanWrite" (click)="onClickNewFile()">
            <mat-icon>note_add</mat-icon>
            <ng-container i18n>New File</ng-container>
        </button>
        <button mat-menu-item [disabled]="isNotCanWrite" (click)="onClickNewFolder()">
            <mat-icon>create_new_folder</mat-icon>
            <ng-container i18n>New Folder</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="isNotCanWrite" (click)="onClickPaste()">
            <mat-icon fontSet="fontawesome-fas" fontIcon="fa-paste"></mat-icon>
            <ng-container i18n>Paste</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="isNotCanWrite" (click)="onClickUpload()">
            <mat-icon>cloud_upload</mat-icon>
            <ng-container i18n>Upload</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onClickRefresh()">
            <mat-icon>refresh</mat-icon>
            <ng-container i18n>Refresh</ng-container>
        </button>
    </ng-template>
    <ng-template #countView>
        <ng-container *ngIf="target.length==1;then oneView"></ng-container>
        <ng-template #oneView>
            <a class="menu" mat-menu-item *ngIf="target[0].url" [routerLink]="target[0].url"
                [queryParams]="{id:folder.id,root:target[0].root,path:target[0].filename}">
                <mat-icon>link</mat-icon>
                <ng-container i18n>Open</ng-container>
            </a>
            <button class="menu" *ngIf="!target[0].isDir" mat-menu-item [matMenuTriggerFor]="opens">
                <mat-icon>launch</mat-icon>
                <ng-container i18n>Open as</ng-container>
            </button>
            <mat-menu #opens="matMenu">
                <a mat-menu-item routerLink="/forward/fs/view/video"
                    [queryParams]="{id:folder.id,root:target[0].root,path:target[0].filename}">
                    <mat-icon>movie_creation</mat-icon>
                    <ng-container i18n>Video</ng-container>
                </a>
                <a mat-menu-item routerLink="/forward/fs/view/audio"
                    [queryParams]="{id:folder.id,root:target[0].root,path:target[0].filename}">

                    <mat-icon>audiotrack</mat-icon>
                    <ng-container i18n>Audio</ng-container>
                </a>
                <a mat-menu-item routerLink="/forward/fs/view/image"
                    [queryParams]="{id:folder.id,root:target[0].root,path:target[0].filename}">

                    <mat-icon>insert_photo</mat-icon>
                    <ng-container i18n>Image</ng-container>
                </a>
                <a mat-menu-item routerLink="/forward/fs/view/text"
                    [queryParams]="{id:folder.id,root:target[0].root,path:target[0].filename}">
                    <mat-icon>event_note</mat-icon>
                    <ng-container i18n>Text</ng-container>
                </a>
            </mat-menu>
            <button class="menu" mat-menu-item [disabled]="isNotCanWrite" (click)="onClickRename()">
                <mat-icon>edit</mat-icon>
                <ng-container i18n>Rename</ng-container>
            </button>
            <a class="menu" *ngIf="target[0].downloadURL(folder.id,target[0].root,target[0].filename,access)"
                [href]="target[0].downloadURL(folder.id,target[0].root,target[0].filename,access)" mat-menu-item>
                <mat-icon>cloud_download</mat-icon>
                <ng-container i18n>Download</ng-container>
            </a>
            <mat-divider></mat-divider>
        </ng-template>
        <button class="menu" mat-menu-item [disabled]="isSessionNotCanWrite" (click)="onClickCopy()">
            <mat-icon>file_copy</mat-icon>
            <ng-container i18n>Copy</ng-container>
        </button>
        <button class="menu" mat-menu-item [disabled]="isSessionNotCanWrite" (click)="onClickCut()">
            <mat-icon fontSet="fontawesome-fas" fontIcon="fa-cut"></mat-icon>
            <ng-container i18n>Cut</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button class="menu" mat-menu-item [disabled]="isNotCanWrite" (click)="onClickCompress()">
            <mat-icon>archive</mat-icon>
            <ng-container i18n>Compress</ng-container>
        </button>
        <button class="menu" mat-menu-item [disabled]="isNotCanWrite"
            *ngIf="target.length==1 && target[0].isSupportUncompress" (click)="onClickUncompress()">
            <mat-icon>unarchive</mat-icon>
            <ng-container i18n>Uncompress</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button class="menu" mat-menu-item [disabled]="isNotCanWrite" (click)="onClickRemove()">
            <mat-icon>delete</mat-icon>
            <ng-container i18n>Delete</ng-container>
        </button>
        <mat-divider></mat-divider>
        <button class="menu" mat-menu-item (click)="onClickProperty()">
            <mat-icon>info</mat-icon>
            <ng-container i18n>Property</ng-container>
        </button>
    </ng-template>
</mat-menu>

<div #trigger class="actionMenu" [style.left]="menuLeft+'px'" [style.top]="menuTop+'px'"
    [matMenuTriggerFor]="actionMenu">
</div>

<mat-toolbar class="footer" color="primary">
    <button mat-button (click)="ctrl=!ctrl">
        <mat-icon>{{ctrl?'check_circle_outline':'not_interested'}}</mat-icon>
        <span class="left8">CTRL</span>
    </button>
    <button mat-button (click)="shift=!shift">
        <mat-icon>{{shift?'check_circle_outline':'not_interested'}}</mat-icon>
        <span class="left8">SHIFT</span>
    </button>
    <button mat-button (click)="toggleDisplay()">
        <mat-icon>{{all?'visibility':'visibility_off'}}</mat-icon>
        <span class="left8">ALL</span>
    </button>
</mat-toolbar>